@import url('fonts/main_font.css');
        h2 {
            font-size: 24px;
            text-align: left;
        }
        p {
            font-size: 22px;
        }

        img {
    width: 100%;
    height: auto;
}

body {
    margin: 0px;
    font-family: 'StratosSkyeng', sans-serif;
    background-image: url(./images/background.jpg);
    background-repeat: no-repeat;
}

.in-one-line {
    display: flex;
    gap: 32px;
}

.center-content {
    text-align: left;
    padding-left: calc(50% - 500px);
    padding-right: calc(50% - 500px);
    background-size: cover;
    min-height: 100vh;
    background-image: url(./images/background.jpg);
    background-repeat: no-repeat;
    background-position: center;
}

a {
    font-size: 25px;
    margin: 50px;
    display: block;
    float: right;
}
h1 {
    padding-top: 100px;
    padding-bottom: 0px;
}
h2 {
    padding-top: 50px;
    padding-bottom: 0px;
}

p {
    margin-bottom: 20px;
}

li {
    margin-bottom: 20px;
}

.styled-link {
    display: inline-block;
    background-color: #8A2BE2;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 20px;
    font-family: 'StratosSkyeng', sans-serif;
    font-size: 35px;
    transition: background-color 0.3s ease;
}

.styled-link:hover {
    background-color: #6A1B9A;
}

.facts {
    padding: 30px;
    text-align: center;
    max-width: 800px;
    margin: 0 auto;
}

p {
    font-family: 'StratosSkyeng', sans-serif;
    font-size: 24px;
    margin-bottom: 20px;
    text-align: left;
}

ol {
    padding-left: 20px;
    list-style-position: inside;
}

li {
    margin-bottom: 20px;
}

.styled-link1 {
    display: inline-block;
    background-color: #8A2BE2;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 20px;
    font-family: 'StratosSkyeng', sans-serif;
    font-size: 35px;
    transition: background-color 0.3s ease;
}

.styled-link1:hover {
    background-color: #6A1B9A;
}

.styled-link2 {
    display: inline-block;
    background-color: #8A2BE2;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 20px;
    font-family: 'StratosSkyeng', sans-serif;
    font-size: 35px;
    transition: background-color 0.3s ease;
}

.styled-link2:hover {
    background-color: #6A1B9A;
}

.memes {
    padding: 30px;
    text-align: center;
    max-width: 800px;
    margin: 0 auto;
}

.styled-link3 {
    display: inline-block;
    background-color: #8A2BE2;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 20px;
    font-family: 'StratosSkyeng', sans-serif;
    font-size: 35px;
    transition: background-color 0.3s ease;
}

.styled-link3:hover {
    background-color: #6A1B9A;
}

.styled-link4 {
    display: inline-block;
    background-color: #8A2BE2;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 20px;
    font-family: 'StratosSkyeng', sans-serif;
    font-size: 35px;
    transition: background-color 0.3s ease;
}

.styled-link4:hover {
    background-color: #6A1B9A;
}

.image-gallery {
    width: 100%;
    margin: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.gallery-image {
    width: 100%;
    margin: 10px;
    max-width: 600px;
    border-radius: 30px;
    height: auto;
}

.quotes {
    padding: 30px;
    text-align: left;
    max-width: 800px;
    margin: 0 auto;
}

ul {
    padding-left: 20px;
    list-style-position: inside;
}

li {
    margin-bottom: 20px;
    font-size: 20px;
}

.styled-link5 {
    display: inline-block;
    background-color: #8A2BE2;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 20px;
    font-family: 'StratosSkyeng', sans-serif;
    font-size: 35px;
    transition: background-color 0.3s ease;
}

.styled-link5:hover {
    background-color: #6A1B9A;
}